h1{
    color: #33ff00;
    font-family: Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}

th {
    font-weight     : 800;
    background-color: #33ff00;
    color           : #ffffff;
    padding: 16px;
}

table{
    font-family : Helvetica, sans-serif;
    font-size: 30px;
    border-collapse: collapse;
    border-width   : 1px;
    border-style   : solid;
    border-color   : #2695A6;
    text-align: center;
}